numpy==2.4.4
pandas==3.0.3
scikit-learn==1.9.0
lightgbm==4.6.0
xgboost==3.3.0
matplotlib==3.11.0
seaborn==0.13.2
statsmodels==0.14.6
mlxtend==0.25.0
joblib==1.5.3
jupyter

# Для NLP-проекта (классификация токсичных комментариев)
torch
transformers
nltk
wordcloud
